/* Specify in CSS */
code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}
header {
  margin-left: 0;
  margin-right: 0;
}
.meta {
  padding-top: 1em;
}
footer a, footer i {
 text-decoration: none;
 color: #00adb5;
}
/* Not last child because it's the footer. */
.container .column {
  background-color: #393e46;
}
.container .footer .column {
  background-color: inherit;
}
.navbar, .navbar-item {
  background-color: #222831;
  color: white;
}
body, .subtitle {
  color: white;
}
html {
  background-color: #454b54;
  color: white;
}

.author-image {
  border-radius: 50%;
}
.author-image, .meta-info {
  display: inline-block;
  vertical-align: middle;
}
.author-image {
  width: 25%;
}

.title, .content h1, .content h2, .content h3 {
  color: white;
}
.blog-separator {
  border-top: dotted 1px;
}
pre {
  background-color: #2b2b2b;
}
.blog-post-content a {
  color: #00adb5;
  text-decoration: cursive;

}
