/* Specify in CSS */
code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}
header {
  margin-left: 0;
  margin-right: 0;
}
.meta {
  padding-top: 1em;
}
footer a, footer i {
 text-decoration: none;
 background-color: none;
 color: white;
}
html, body, .navbar, .navbar-item {
    background-color: #222831;
    color: white;
}
body {
 /*background-color: #292a2d;*/
}
div[role="main"] {
  background-color: #393e46;
  color: white;
}


.author-image {
  border-radius: 50%;
}
.author-image, .meta-info {
  display: inline-block;
}

.title, .content h1, .content h2, .content h3 {
  color: white;
}
